.floatingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.floatingButton:hover {
    transform: rotate(90deg) scale(1.05);
    background-color: var(--secondary-color);
}