@import "./reset.css";
@import "./variables.css";




body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-text)
}

.page-container{
    max-width: 1200px;
    margin:auto;
    padding: 0 1rem;
}