:root{
 
  /* Renkler */
  --primary-color: #4361ee;
  --secondary-color: #3f37c9;
  --success-color: #4cc9f0;
  --danger-color: #f72585;
  --warning-color: #f8961e;
  --light-bg: #f8f9fa;
  --dark-bg: #212529;
  --light-text: #f8f9fa;
  --dark-text: #212529;
  --border-color: #dee2e6;
   
}

div{
    color:rgb(72, 39, 202)
}