.header {
    background-color: var(--primary-color);
    padding: 1rem 0;
}


.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.link{
    font-size: 2rem;
    font-weight: 700;
}